AUTH_SECRET=""


AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=


AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL=""

# Direct connection to the database. Used for migrations.
DIRECT_URL=""

NYLAS_API_SECRET_KEY=

NYLAS_API_URI=

NYLAS_CLIENT_ID=

NEXT_PUBLIC_URL=

UPLOADTHING_TOKEN=''
